{% extends "cliente_generic.html" %}
{% load static %}

{% block content %}
<form method="POST">
 </form>
<br>  
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            Actualizar Admin User
          </h3>
      </div>
      <div class="panel-body">
        <form method="POST" accept-charset="UTF-8" role="form" enctype="multipart/form-data">
          <fieldset>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" name="cli_Rut" placeholder="Rut">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" name="cli_Nombre" placeholder="Nombre">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" name="cli_Apellidos" placeholder="Apellidos">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="number" class="form-control" name="cli_Edad" placeholder="Edad">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" name="cli_Nacionalidad" placeholder="Nacionalidad">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" name="email" placeholder="Correo Electronico">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" name="cli_Telefono" placeholder="Telefono">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                <input type="password" class="form-control" name="password1" placeholder="Contraseña">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                <input type="password" class="form-control" name="password2" placeholder="Repita Contraseña">
              </div>
            </div>
              {% csrf_token %}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Registrar">
          </fieldset>
        </form>
        <p class="m-b-0 m-t">¿Ya estas registrado? <a href="/Actualizar">Haga Click Aqui</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}