{% extends "cliente_generic.html" %}

{% load static %}



{% block content %}
<br>  
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            Actualizar Cliente
          </h3>
      </div>
      <div class="panel-body">
        <form method="POST" accept-charset="UTF-8" role="form" >
          <fieldset>
            <label>Fecha de Ingreso</label><br>
            {{ form.Fecha_Reserva_Inicio }}<hr><br>
            <label>Fecha de Salida</label><br>
            {{ form.Fecha_Reserva_Termino }}<hr><br>
            <label>Departamento a Elegir</label><br>
            {{ form.departamento }}<hr><br>
            <label>Cantidad de Dias</label><br>
            {{ form.Cantidad_Dias }}<hr><br>
            <label>Servicios Extras</label><br>
            {{ form.servicioextra }}<hr><br>
            <th>Cliente</th>

                {% csrf_token %}
              </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Editar">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
