{% extends "cliente_generic.html" %}
{% load static %}


{% block content %}
<div class="reserva-arriendo">
  <div class="contenedor">
      <form action="" class="form" method="POST">
      <div class="form-header">
          <h1 class="form-title"><i class="fas fa-plus-circle"></i>Modificar <span> Acompañante </span></h1>
      </div> 
      <div class="texto-reserva">
          <p>Modificar a su acompañante.
          </p>
      </div>
            <label>Rut</label><br>
            {{ form.acom_rut }}<br><br>
            <label>Nombre/s</label><br>
            {{ form.acom_nombre }}<br><br> 
            <label>Apellido/s</label><br>
            {{ form.acom_apellidos }}<br><br> 
            <label>Edad</label><br>
            {{ form.acom_edad }}<br><br> 
            <label>Nacionalidad</label><br>
            {{ form.acom_nacionalidad }}<br><br> 
            <label>Correo Electronico</label><br>   
            {{ form.acom_email }}<br><br> 
            <label>Telefono</label><br>
            {{ form.acom_telefono }}<br><br> 
               {% csrf_token %}
               <input class="btn btn-lg btn-primary btn-block" type="submit" value="Modificar">
               <input class="btn btn-lg btn-primary btn-block" type="reset" value="Limpiar Formulario"><br> 
               <p class="m-b-0 m-t">¿Ir al menu? <a href="/inicio">Haga Click Aqui</a>.</p>
             </form>
           </div>
       </div>
{% endblock %}