{% extends "cliente_generic.html" %}
{% load static %}


{% block content %}
<br>  
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            Editar Acompañante
          </h3>
      </div>
      <div class="panel-body">
        <form method="POST" accept-charset="UTF-8" role="form" >
          {% csrf_token %}
          <fieldset>
            <div class="escritura">
                <label>a cargo de:</label>
                <div class="escrituraline">{{ form.cli_cliente}}</div><br>
                <label>Rut</label>
                <div class="escrituraline">{{ form.acom_rut}}</div><br>
                <label>Nombre</label>
                <div class="escrituraline">{{ form.acom_nombre}}</div><br>
                <label>Apellidos</label>
                <div class="escrituraline">{{ form.acom_apellidos}}</div><br>
                <label>Edad</label>
                <div class="escrituraline">{{ form.acom_edad}}</div><br>
                <label>Nacionalidad</label>
                <div class="escrituraline">{{ form.acom_nacionalidad}}</div><br>
                <label>Email</label>
                <div class="escrituraline">{{ form.acom_email}}</div><br>
                <label>Telefono</label>
                <div class="escrituraline">{{ form.acom_telefono}}</div><br>
              </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Editar">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}