{% block content %}


<h1 align="center">Turismo Real te da la bienvenida y te damos aqui el PDF de tu reserva</h1>
<hr>
<br>
<h1 align="center"> TURISMO REAL, usted oficialmente ha hecho su reserva y check in correctamente</h1>
<img src="{{ reservalista.departamento.Imagen_Recinto.url }}">

<br>
<h2>Nosotros somos una compañia sumamente responsable con los tiempos y el orden, por lo que, te sugerimos 
    traer este informe de manera impresa para agilizar el movimiento.</h2>
<br>
<br>
<h3>Te damos la bienvenida a una experiencia inigualable, de la cual, no dudaras en comentarlas con tus cercanos,
     somos un servicio catalogado a nivel mundial como uno de 7 extrellas, calidad y diversion entregamos.
</h3>

{% if reservalista %}

<br>
<br>
<h1>Señor {{ reservalista.user.cli_Nombre}} {{ reservalista.user.cli_Apellidos}}.</h1>

<h1 align="center">El codigo de su reserva es: "{{ reservalista.Codigo_Reserva}}" </h1>

<p align="center">El inicio de su reserva es "{{ reservalista.Fecha_Reserva_Inicio}}" con el termino del 
  "{{ reservalista.Fecha_Reserva_Termino}}"
</p>
<br>
<br>

<h2>¿Que posee el departamento? </h2>
<p> -Calefaccion: "{{ reservalista.departamento.Calefaccion }}" </p>
<p> -Internet: "{{ reservalista.departamento.Internet }}" </p>
<p> -Amoblado: "{{ reservalista.departamento.Amoblado }}" </p>
<p> -Television: "{{ reservalista.departamento.Televicion }}" </p>

  <table class="table table-bordered order-table " border="1"> 
    <thead>
      <tr>
        <th>Departamento</th>
        <th>Servicio</th>
      </tr>
    </thead>
  </div>
    <tr>
      <td>{{ reservalista.departamento}}</td>
      <td>{{ reservalista.servicioextra}}</td>
    </tr>
  </table>
<br>
<br>
<h1 align="center"> El valor a pagar: ${{ reservalista.departamento.Valor_Diario}} del 
  departamento "{{ reservalista.departamento.Nombre_Departamento }}" ubicado en la direccion 
  "{{ reservalista.departamento.Direccion_departamento }}" en la comuna "{{ reservalista.departamento.comuna }}".
</h1>


{% endif %}
<br>
<br>
<br>
<br>
<br>

<h3>favor de imprimir esta Voucher.
</h3>
<h1>Estado: {{ reservalista.Estado_Reserva}}</h1>
<h1>Si el Estado es "False" es debido a que aun debe pagar</h1>
<h1>Si el Estado es "True" es debido a que ya ha pagado</h1>
<br>
<br>
<hr>
<p align="center">Derechos Reservados de Turismo real</p>



{% endblock %}