{% extends "cliente_generic.html" %}
{% load static %}


{% block content %}

<div class="listadoreserva">
    <div class="container">
        <h1>Tus Tarjetas</h1>
        <br>
        <table class="table table-bordered order-table ">
          <thead>
          <div class="nombrestr">
            <tr>
              <th>Nro Tarjeta</th>
              <th>Fecha Vencimiento</th>
              <th>banco</th>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Ver</th>
            </tr>
          </thead>
        </div>
          <tr>
            {% for lista in lista %}
            <td>{{ lista.nro_tarjeta}}</td>
            <td>{{ lista.fecha_vencimiento}}</td>
            <td>{{ lista.banco.descrip_banco}}</td>
            <td><a href="/edit/{{ lista.id }}">Editar</a>
            </td>
            <td>   <a href="/deletetarjeta/{{ lista.id }}" 
              onClick="return confirm('¿Seguro que quieres eliminar tu tarjeta: {{lista.nro_tarjeta}}?');">
                Borrar
            </a></td>
            <td><a href="/detail_tarjeta/{{ lista.id }}">Ver</a></td>
          </tr>
          {% endfor %}
        </table>
        </div>
    </div>
</div>

{% endblock %}