{% extends "cliente_generic.html" %}

{% load static %}



{% block content %}

{% if servicio %}
    <div class="listadoreserva">
        <div class="container">
        <h1><i class="fas fa-stream"></i>Listado de Servicios añadidos</h1>
        <div style="height:50px"></div>
        <p class="lead">
        <p>Aqui podra encontrar todos los servicios hechos a lo largo del tiempo</p>
        <p>Cantidad de Servicios Contratados: "{{ serviciosextras }}"</p>
        <hr>
        <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscador..">
        <br>
        <br>
        <table class="table table-bordered order-table ">
          <thead>
          <div class="nombrestr">
            <tr>
              <th>Descripcion</th>
              <th>Direccion reunion</th>
              <th>Direccion destino</th>
              <th>Fecha encuentro</th>
              <th>Valor Servicio</th>
              <th>Modificar</th>
              <th>Cancelar</th>
            </tr>
          </thead>
        </div>
        {% for servicio in servicio %}
          <tr>
            <td>{{ servicio.descrip_servicio}}</td>
            <td>{{ servicio.direccion_reunion}}</td>
            <td>{{ servicio.direccion_destino}}</td>
            <td>{{ servicio.fecha_encuentro}}</td>
            <td>${{ servicio.valor_servicio}}</td>
            <td><a href="/actualizarservicio/{{ servicio.id }}">Modificar
            <td><a href="/deleteservicio/{{ servicio.id }}">
                Cancerlar
            </a></td>
        </tr>
          </tr>
        {% endfor %}
        </table>
        </div>
    </div>
{% else %}
<div id="resultadolisto">
  <br> <br> <br> 
  <h2>No hay registros de Servicios, favor añadir</h2>
  <br> <br> 
  </div>
{% endif %}
  <!-- Filtrado de ultimo registro-->
  <div class="ultimo-post">
      <h1>El ultimo servicio añadida</h1>
      <p> <i class="fas fa-plus-circle"></i>
        La descripcion del servicio "{{ servicioultimo.descrip_servicio }}"</p>
  </div>
      <!-- Formulario para registrar-->
   <br>  
   <div class="contacto">
    <div class="contacto-contenido">
        <div class="titulo-contacto">
            <h2>Agregar Servicio</h2>
        </div>
        <div class="formulario-contacto">
            <h4>Formulario Servicio </h4>
            <hr>
            <form class="form-contac" method="POST"  enctype="multipart/form-data">
             <fieldset>
              <label>Descripcion del Servicio</label><br>
              {{ form.descrip_servicio }}<br><br><br>

              <label>Direccion de Reunion</label><br>
              {{ form.direccion_reunion }}<br><br><br>

              <label>Direccion de Destino</label><br>
              {{ form.direccion_destino }}<br><br><br>

              <label>Fecha de encuentro</label><br>
              {{ form.fecha_encuentro }}<br><br><br>

              <label>Fecha de termino</label><br>
              {{ form.fecha_termino_servicio }}<br><br><br>  

              <label>Valor del servicio</label><br>   
              {{ form.valor_servicio }}<br><br><br>    
  
              <label>Conductor</label><br>   
              {{ form.conductor }}<br><br><br>   

              <label>Tour</label><br>   
              {{ form.tour }}<br><br><br>   

              {% csrf_token %}
              <a href="/inicio">Volver al Menu</a>
              <input type="submit" class="submit" value="Añadir Servicio">
             </fieldset>
           </form>
          </div>
          <div class="escritura-contacto">
            <h4>Administracion para {{ request.user }}, pueda gestionar los servicios de TurismoReal. </h4>
            <hr>
            <p>Mantener Tour</p>
            <br>
            <a href="/mantener_tour"> Tour
            <br>
            <br>
            <br>
            <p>Mantener Chofer</p>
            <br>
            <a href="/mantener_conductor"> Conductor
            <br>
            <br>
            <br>
            <p>Mantener Vehiculo</p>
            <br>
            <a href="/mantener_vehiculo"> Vehiculo
              <br>
              <br>
              <br>
        </div>
      </div>
  </div>
    </div>

{% endblock %}
