{% extends "cliente_generic.html" %}

{% load static %}



{% block content %}

{% if servicio %}
    <div class="listadoreserva">
        <div class="container">
        <h1>Listado de Servicios añadidos</h1>
        <div style="height:50px"></div>
        <p class="lead">
        <p>Aqui podra encontrar a todas tus reservas hechas a lo largo del tiempo</p>
        <hr>
        <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscador..">
        <br>
        <br>
        <table class="table table-bordered order-table ">
          <thead>
          <div class="nombrestr">
            <tr>
              <th>Descripcion</th>
              <th>Direccion reunion</th>
              <th>Direccion destino</th>
              <th>Fecha encuentro</th>
              <th>Valor Servicio</th>
              <th>Modificar</th>
              <th>Cancelar</th>
            </tr>
          </thead>
        </div>
        {% for servicio in servicio %}
          <tr>
            <td>{{ servicio.descrip_servicio}}</td>
            <td>{{ servicio.direccion_reunion}}</td>
            <td>{{ servicio.direccion_destino}}</td>
            <td>{{ servicio.fecha_encuentro}}</td>
            <td>{{ servicio.valor_servicio}}</td>
            <td><a href="/actualizarreserva/{{ reserva.id }}">Modificar
            <td><a href="/deletereserva/{{ reserva.id }}">
                Cancerlar
            </a></td>
        </tr>
          </tr>
        {% endfor %}
        </table>
        <p>Si desea registrar una Reserva haga click en el siguiente link <a href="">Haga click aqui para Reserva</a></p>
        </div>
    </div>
    
{% else %}
    <h1>No existe registro de Reservas<h1>
{% endif %}

   <br>  
   <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h3 class="panel-title">
               Registro Reserva
             </h3>
         </div>
         <div class="panel-body">
           <form method="POST" accept-charset="UTF-8" role="form" enctype="multipart/form-data">
             <fieldset>
              <label>Fecha de Ingreso</label><br>
              {{ form.Fecha_Reserva_Inicio }}<hr><br>
              <label>Fecha de Salida</label><br>
              {{ form.Fecha_Reserva_Termino }}<hr><br>
              <label>Departamento a Elegir</label><br>
              {{ form.departamento }}<hr><br>
              <label>Servicios Extras</label><br>
              {{ form.servicioextra }}<hr><br>  
              <label>Usuario</label><br>   
              {{ form.user }}<hr><br>       
                 {% csrf_token %}
               <input class="btn btn-lg btn-primary btn-block" type="submit" value="Registrar">
             </fieldset>
           </form>
         </div>
       </div>
     </div>
   </div>

{% endblock %}
