{% extends "cliente_generic.html" %}

{% load static %}



{% block content %}

{% if reserva %}
    <div class="listadoreserva">
        <div class="container">
        <h1>Listado de Reservas</h1>
        <div style="height:50px"></div>
        <p class="lead">
        <p>Aqui podra encontrar a todas tus reservas hechas a lo largo del tiempo</p>
        <hr>
        <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscador..">
        <br>
        <br>
        <table class="table table-bordered order-table ">
          <thead>
          <div class="nombrestr">
            <tr>
              <th>Codigo</th>
              <th>Fecha Inicio</th>
              <th>Fecha Termino</th>
              <th>Cliente</th>
              <th>Cantidad dias</th>
              <th>Departamento</th>
              <th>Costo</th>
              <th>Servicio</th>
              <th>Modificar</th>
              <th>Cancelar</th>
              <th>Detalle</th>
            </tr>
          </thead>
        </div>
        {% for reserva in reserva %}
          <tr>
            <td>{{ reserva.Codigo_Reserva}}</td>
            <td>{{ reserva.Fecha_Reserva_Inicio}}</td>
            <td>{{ reserva.Fecha_Reserva_Termino}}</td>
            <td>{{ reserva.user}}</td>
            <td>{{ reserva.Cantidad_Dias}}</td>
            <td>{{ reserva.departamento}}</td>
            <td>{{ reserva.departamento.Valor_Diario}}</td>
            <td>{{ reserva.servicioextra}}</td>
            <td><a href="/actualizarreserva/{{ reserva.id }}">Modificar</td>
            <td><a href="/deletereserva/{{ reserva.id }}">
                Cancerlar
            </a></td>
            <td><a href="/detailreserva/{{ reserva.id }}">Detalle</td>

        </tr>
          </tr>
        {% endfor %}
        </table>
        <p>Si desea registrar una Reserva haga click en el siguiente link <a href="">Haga click aqui para Reserva</a></p>
        </div>
    </div>
    
    {% else %}
    <div id="resultadolisto">
      <br> <br> <br> 
      <h2>No hay registros de Reservas, favor añadir</h2>
      <br> <br> 
      </div>
    {% endif %}

   <br>  
   <div class="reserva-arriendo">
    <div class="contenedor">
        <form action="" class="form" method="POST">
        <div class="form-header">
            <h1 class="form-title">Mantener<span> Reserva</span></h1>
        </div> 
        <div class="texto-reserva">
            <p>Generar Reserva
            </p>
        </div>

              <label>Fecha de Ingreso</label><br>
              {{ form.Fecha_Reserva_Inicio }}<hr><br>
              <label>Fecha de Salida</label><br>
              {{ form.Fecha_Reserva_Termino }}<hr><br>
              <label>Departamento a Elegir</label><br>
              {{ form.departamento }}<hr><br>
              <label>Cantidad de dias</label><br>
              {{ form.Cantidad_Dias }}<hr><br>
              <label>Servicios Extras</label><br>
              {{ form.servicioextra }}<hr><br>  
              <label>Usuario</label><br>   
              {{ form.user }}<hr><br>       
                 {% csrf_token %}
                 <input type="checkbox" name="acepto"> Acepto los términos del contrato de suscripción
                 <br><br>
                 {% csrf_token %}
                 <input type="submit" class="form-submit" value="Reservar" onClick="verificarCasilla(this.form)">
                 <input type="reset" class="form-submit" value="Limpiar Formulario">
                 <a href="/inicio">Volver al Menu</a>
                 </form>
             </div>
         </div>

{% endblock %}
