{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div id="background-wrapper" class="benches" data-stellar-background-ratio="0.8">
    <div id="content">
      <div class="header">
        <div class="header-inner">
          <a class="navbar-brand center-block" href="" title="Home">
            <h1 class="hidden">
                <img src="img/logo.png" alt="Turismo Real">
              </h1>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                  Verificacion de email
                </h3>
            </div>
            <div class="panel-body">
              <form  method="POST">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fas fa-user"></i></span>
                      <input type="text" class="form-control" name="codregistro" placeholder="ingrese codigo enviado a su mail">
                    </div>
                  </div>
                  {% csrf_token %}
                  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                </fieldset>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>

{% endblock %}
